/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/

/* -----------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO ITred Spa registrar_cliente .CSS -----------------------------------
   ----------------------------------------------------------------------------------------------------------------- */

/* TITULO PROCESO DE REGISTRO CLIENTE */

   /* SIN CODIGO */


 
 /* -----------------------------------------------------------------------------------------------------------------
    -------------------------------------- FIN ITred Spa registrar_cliente .CSS -------------------------------------
    ----------------------------------------------------------------------------------------------------------------- */

 /* 
 Sitio Web Creado por ITred Spa.
 Direccion: Guido Reni #4190
 Pedro Aguirre Cerda - Santiago - Chile
 contacto@itred.cl o itred.spa@gmail.com
 https://www.itred.cl
 Creado, Programado y Diseñado por ITred Spa.
 BPPJ 
 */
