/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/

/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO ITred Spa generar_excel .CSS -----------------------------------
   ------------------------------------------------------------------------------------------------------------- */

/* TITULO IMPORTACIÓN DE LIBRERÍA EXCEL */

   /* SIN CODIGO */



/* TITULO RECEPCIÓN DE FILTROS */
  
   /* SIN CODIGO */



/* TITULO CONSULTA SQL */

   /* SIN CODIGO */



/* TITULO GENERACION EXCEL */

   /* SIN CODIGO */



/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- FIN ITred Spa generar_excel .CSS --------------------------------------
   ------------------------------------------------------------------------------------------------------------- */

/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/