/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/

/*  ------------------------------------------------------------------------------------------------------------
    ------------------------------------- INICIO ITred Spa bodega .CSS -----------------------------------------
    ------------------------------------------------------------------------------------------------------------  */

/*  TITULO BODY */ 

    /*  SIN ESTILO */

/*  TITULO INICIO SESION Y VALIDACION */

    /*  SIN ESTILO */

/*  TITULO ARCHIVO JS */

    /*  SIN ESTILO */



/*  ------------------------------------------------------------------------------------------------------------
    -------------------------------------- FIN ITred Spa bodega .CSS -------------------------------------------
    ------------------------------------------------------------------------------------------------------------  */

/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/