/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO ITred Spa descargar_usuarios .CSS ------------------------------
   ------------------------------------------------------------------------------------------------------------- */

/* TITULO CONFIGURACION INICIO DE SESION Y REPORTES DE ERROR */

    /* sin estilo */

/* TITULO VERFICIACION INICIO DE SESION */

    /* sin estilo */

/* TITULO DESCARGA LISTA USUARIOS EXCEL */

    /* sin estilo */

/* TITULO CREACION ARCHIVO EXCEL */

    /* sin estilo */

/* -------------------------------------------------------------------------------------------------------------
   -------------------------------------- FIN ITred Spa descargar_usuarios .CSS --------------------------------
   ------------------------------------------------------------------------------------------------------------- */


/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/