/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/

/*  ------------------------------------------------------------------------------------------------------------
    ------------------------------------- INICIO ITred Spa superadmin .CSS -------------------------------------
    ------------------------------------------------------------------------------------------------------------  */

/* TITULO INICIO DE SESION Y VALIDACION */

  /* SIN CODIGO */


/*  ------------------------------------------------------------------------------------------------------------
    -------------------------------------- FIN ITred Spa superadmin .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------  */

/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Agui Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/