/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/

/*
------------------------------------------------------------------------------------------------------------
------------------------------------- INICIO ITred Spa log_registros .CSS ----------------------------------
------------------------------------------------------------------------------------------------------------
*/

/* TITULO DEFINICIÓN DE CONSTANTES */

    /* SIN CODIGO */


/* TITULO CONTROLADORES DE EVENTOS */

    /* SIN CODIGO */


/* TITULO REGISTRAR ACTIVIDAD */

    /* SIN CODIGO */


/*
------------------------------------------------------------------------------------------------------------
-------------------------------------- FIN ITred Spa log_registros .CSS ------------------------------------
------------------------------------------------------------------------------------------------------------
*/

/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/