/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/

/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO ITred Spa buscar_productos_por_factura .CSS---------------------
   ------------------------------------------------------------------------------------------------------------- */

/* TITULO CONSULTAR SQL */

    /* sin estilo */


/*  TITULO FILTRAR */

     /* sin estilo */


/* -------------------------------------------------------------------------------------------------------------
   -------------------------------------- FIN ITred Spa buscar_productos_por_factura .CSS ----------------------
   ------------------------------------------------------------------------------------------------------------- */


/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/